<div class="container">

<h1><%= @user.username %>'s details</h1>
<div class="flex-container" style="align-items:center">
<div class="card" style="width:20%">
    <%= image_tag(@user.profile_image, alt: "profile image", style: "width:100%", class: "card-img-top") if @user.profile_image != nil %>
    <h3 class="card-title">Username: <%= @user.username %></h3>
    <p class="card-text">Role: <%= @user.role %></p>
    <p class="card-text"><%= link_to "Edit User Details", edit_user_path(@user) %></p>    
    <p class="card-text"><%= link_to "Delete User", user_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></p>
</div>
</div>

</div>