<h1><%= @user.username %>'s details</h1>

<div class="card" style="width:100%">
    <%= image_tag(@user.profile_image, alt: "profile image", style: "width:100%") %>
    <h3>Username: <%= @user.username %></h3>
    <p>Role: <%= @user.role %></p>
    <p><%= link_to "Edit User Details", edit_user_path(@user) %></p>    
</div>