<h1>Create a new Product</h1>

<%= form_with model: @product do |form| %>

    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>

    <div>
        <%= form.label :description %>
        <%= form.text_area :description %>
    </div>

    <div>
        <%= form.label :price %>
        <%= form.number_field :price, step: 0.01 %>
    </div>

    <div>
        <%= form.label :quanity %>
        <%= form.number_field :quantity %>
    </div>

    <div>
        <%= form.label :image %>
        <%= form.text_field :image %>
    </div>

    <%= form.submit %>
<% end %>